@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 1s;
}

img:hover {
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    overflow: scroll; /* removes scroll in bottom */
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


/* HERE THE LAYOUT OF THE PAGE */
section.container-1 {
    height: 100vh;
    display: grid;
    place-items: center;
}

section.container-1 .menus-wrapper {
    height: 100vh;
    width: 80%;
    display: grid;
    grid-template: 
    "header-1-1 header-1-1" 0.08fr
    "header-1-2 header-1-2" 0.08fr
    "header-1-3 header-1-3" 0.08fr
    "main-1-1 aside-1-1" 0.76fr /
    0.7fr 0.3fr;
    /* place-content: center;
    place-items: center; */
}

section.container-1 .menus-wrapper header.header-1 {
    grid-area: header-1-1;
    outline: 0.5px solid #000;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    align-content: center;
}

section.container-1 .menus-wrapper header.header-2 {
    grid-area: header-1-2;
    outline: 0.5px solid #000;
}

section.container-1 .menus-wrapper header.header-3 {
    grid-area: header-1-3;
    outline: 0.5px solid #000;
}

section.container-1 .menus-wrapper main.main-1 {
    grid-area: main-1-1;
    outline: 0.5px solid #000;
    display: grid;
    grid-template-rows: 0.05fr 0.40fr 0.55fr;
    grid-gap: 5px;
    /* align-items: center; */
}

section.container-1 .menus-wrapper aside.aside-1 {
    grid-area: aside-1-1;
    outline: 0.5px solid #000;
}

section.container-1 header.header-1 nav.nav-1 ul.ul-1-2 li.special-banner img {
    height: 36px;
    width: 260px;
}

section.container-1 header.header-1 nav.nav-1 ul.ul-1-1 {
    padding-left: 15px;
}

section.container-1 header.header-1 nav.nav-1 {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    align-items: center;
    align-content: center;
    justify-items: start;
}

section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    grid-gap: 5px;
    place-content: center;
}

section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 button {
    padding: 4px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
}

section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 button#btn-ads {
    background-color: #eb6100;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
 }

section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 button#btn-ads:hover {
    opacity: 0.5;
}

section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 button#btn-login {
    background-color: #fff;
    color: #1d439b;
    border: 2px solid #1d439b;
    outline: none;
    cursor: pointer;
}
 
section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 button#btn-login:hover {
     opacity: 0.5;
}

section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 button#btn-signup {
    background-color:  #2e51a2;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
 
section.container-1 header.header-1 nav.nav-1 ul.ul-1-3 button#btn-signup:hover {
     opacity: 0.5;
}

section.container-1 header.header-2 {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #2e51a2;
}

section.container-1 header.header-2 nav.nav-2 {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: start;
    padding-top: 5px;
    padding-bottom: 5px;
}

section.container-1 header.header-2 nav.nav-2 ul.ul-2-1 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    justify-items: start;
    padding-left: 15px;
}

section.container-1 header.header-2 nav.nav-2 ul.ul-2-1 li {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

section.container-1 header.header-2 nav.nav-2 ul.ul-2-2 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 3px;
    justify-items: center;
}

section.container-1 header.header-2 nav.nav-2 ul.ul-2-2 select {
    padding: 0 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 11px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section.container-1 header.header-2 nav.nav-2 ul.ul-2-2 .search-bar input {
    padding: 6px 15px;
    font-size: 11px;
    outline: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 300px;
}


section.container-1 header.header-3 {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #e1e7f5;
}

section.container-1 header.header-3 nav.nav-3 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    padding-top: 5px;
    padding-bottom: 5px;
}

section.container-1 header.header-3 nav.nav-3 ul.ul-3-1 {
 padding-left: 15px;
}

section.container-1 header.header-3 nav.nav-3 ul.ul-3-1 li {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: normal;
    color: #000;
}

section.container-1 main.main-1 .main-1-sub-1 {
    display: grid;
    grid-template-rows: 1fr;
    outline: 0.5px solid #000;
    padding-top: 20px;
}

section.container-1 main.main-1 nav.nav-4 {
    display: grid;
    grid-template-rows: 1fr;
}

section.container-1 main.main-1 nav.nav-4 ul.ul-4-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding-left: 15px;
}

section.container-1 main.main-1 nav.nav-4 ul.ul-4-1 li {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
}

section.container-1 main.main-1 nav.nav-4 ul.ul-4-1 li#li-special {
    display: grid;
    justify-self: end;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 700;
}

section.container-1 main.main-1 .main-1-sub-2 {
    display: grid;
    outline: 0.5px solid #000;
    grid-template-rows: 1fr;
}

section.container-1 main.main-1 .main-1-sub-2 .image-wrapper-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
    padding-left: 15px;
}

section.container-1 main.main-1 .main-1-sub-2 .image-wrapper-1 .image-box-1 {
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
}

section.container-1 main.main-1 .main-1-sub-2 .image-wrapper-1 .image-box-1 img {
    height: 140px;
    width: 220px;
}

section.container-1 main.main-1 .main-1-sub-2 .image-wrapper-1 .image-box-1 h3 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: normal;
    width: 90%;
}



section.container-1 main.main-1 .main-1-sub-3 {
    display: grid;
    outline: 0.5px solid #000;
    grid-template-rows: 0.05fr 0.95fr;
}

section.container-1 main.main-1 .main-1-sub-3 .main-1-ribbon {
    display: grid;
    grid-template-rows: 1fr;
    outline: 0.5px solid #000;
}

section.container-1 main.main-1 .main-1-sub-3 .main-1-ribbon nav.nav-5 {
    display: grid;
    grid-template-rows: 1fr;
}

section.container-1 main.main-1 .main-1-sub-3 .main-1-ribbon nav.nav-5 ul.ul-5-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding-left: 15px;
}

section.container-1 main.main-1 .main-1-sub-3 .main-1-ribbon nav.nav-5 ul.ul-5-1 li {
    font-size: 14px;
    font-weight: 700;
}

section.container-1 main.main-1 .main-1-sub-3 .main-1-ribbon nav.nav-5 ul.ul-5-1 li#li-special-2 {
    display: grid;
    justify-self: end;
    padding-right: 15px;
    font-size: 12px;
}

section.container-1 main.main-1 .main-1-sub-3 .image-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-left: 15px;
}

section.container-1 main.main-1 .main-1-sub-3 .image-wrapper-2 .image-box-2 {
    display: grid;
    grid-template-rows: 9fr 40px;
}

section.container-1 main.main-1 .main-1-sub-3 .image-wrapper-2 .image-box-2 img {
    height: 220px;
    width: 160px;
    position: absolute;
}

section.container-1 main.main-1 .main-1-sub-3 .image-wrapper-2 .image-box-2 span {
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 900;
    display: grid;
    align-self: end;
    justify-self: center;
    z-index: 1;
}


section.container-1 aside.aside-1 {
    display: grid;
    grid-template-rows: 1fr;
    align-content: start;
}

section.container-1 aside.aside-1 .aside-1-sub-1 {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    padding: 0 10px;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-ribbon {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    justify-items: start;
    background-color: #dde1ec;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-ribbon a {
    display: grid;
    place-self: end;
    font-size: 12px;
    font-weight: 900;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper {
    display: grid;
    grid-template-rows: repeat(5, 0.2fr);
    grid-gap: 22px;
    background-color: #f5f6f9;
    padding-top: 20px;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box {
    display: grid;
    grid-template: 
    "span-1-aside img-1-aside a-1-aside span-6-aside" 0.33fr
    "span-1-aside img-1-aside span-group-aside-1 span-6-aside"0.33fr
    "span-1-aside img-1-aside span-5-aside span-6-aside" 0.33fr /
    0.1fr 0.2fr 0.7fr;
    grid-gap: 3px;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box span.span-1-aside {
    grid-area: span-1-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box span.span-2-aside {
    grid-area: span-2-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box span.span-3-aside {
    grid-area: span-3-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box span.span-4-aside {
    grid-area: span-4-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box span.span-5-aside {
    grid-area: span-5-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box span.span-6-aside {
    grid-area: span-6-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box img {
    grid-area: img-1-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box a {
    grid-area: a-1-aside;
}

section.container-1 aside.aside-1 .aside-1-sub-1 .aside-1-box-wrapper .aside-1-box .span-group-aside-1 {
    grid-area: span-group-aside-1;
}




/* HERE THE LAYOUT OF THE PAGE */
section.container-2 {
    height: 110vh;
    display: grid;
    place-items: center;
}

section.container-2 .menus-wrapper {
    height: 110vh;
    width: 80%;
    display: grid;
    grid-template: 
    "main-2-1 aside-2-1" 1fr /
    0.7fr 0.3fr;
    align-content: start;
}

section.container-2 .menus-wrapper main.main-2 {
    grid-area: main-2-1;
    outline: 0.5px solid #000;
    display: grid;
    grid-template-rows: 0.3fr auto 0.5fr;
    grid-gap: 20px;
    /* align-items: center; */
}

section.container-2 .menus-wrapper aside.aside-2 {
    grid-area: aside-2-1;
    outline: 0.5px solid #000;
    /* align-content: start;
    align-items: start; */
}

section.container-2 main.main-2 .main-2-sub-1 {
    display: grid;
    outline: 0.5px solid #000;
    grid-template-rows: 0.1fr 0.9fr;
    grid-gap: 10px;
}

section.container-2 main.main-2 .main-2-sub-1 .image-wrapper-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    place-items: center;
    padding-left: 15px;
}

section.container-2 main.main-2 .main-2-sub-1 .image-wrapper-1 .image-box-1 {
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
    grid-gap: 5px;
}

/* section.container-2 main.main-2 .main-2-sub-1 .image-wrapper-1 .image-box-1 img {
    
} */

section.container-2 main.main-2 .main-2-sub-1 .image-wrapper-1 .image-box-1 h3 {
    font-size: 11px;
    font-weight: 300;
    letter-spacing: normal;
    color: #1d439b;
}

section.container-2 main.main-2 .main-2-sub-2 {
    display: grid;
    outline: 0.5px solid #000;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    grid-gap: 3px;
}

section.container-2 main.main-2 .main-2-sub-2 .link-wrapper-1 {
    display: grid;
    grid-template-columns: 0.33fr 0.34fr 0.33fr;
    place-items: center;
}

section.container-2 main.main-2 .main-2-sub-2 .main-2-ribbon {
    display: grid;
    grid-template-rows: 1fr;
    outline: 0.5px solid #000;
}

section.container-2 main.main-2 .main-2-sub-2 .main-2-ribbon nav.nav-6 {
    display: grid;
    grid-template-rows: 1fr;
}

section.container-2 main.main-2 .main-2-sub-2 .main-2-ribbon nav.nav-6 ul.ul-6-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding-left: 15px;
}

section.container-2 main.main-2 .main-2-sub-2 .main-2-ribbon nav.nav-6 ul.ul-6-1 li {
    font-size: 12px;
    font-weight: 700;
}

section.container-2 main.main-2 .main-2-sub-2 .main-2-ribbon nav.nav-6 ul.ul-6-1 li#li-special-4 {
    display: grid;
    justify-self: end;
    padding-right: 15px;
    font-size: 12px;
}

section.container-2 main.main-2 .main-2-sub-1 .main-2-ribbon nav.nav-7 {
    display: grid;
    grid-template-rows: 1fr;
}

section.container-2 main.main-2 .main-2-sub-1 .main-2-ribbon nav.nav-7 ul.ul-7-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding-left: 15px;
}

section.container-2 main.main-2 .main-2-sub-1 .main-2-ribbon nav.nav-7 ul.ul-7-1 li {
    font-size: 12px;
    font-weight: 700;
}

section.container-2 main.main-2 .main-2-sub-1 .main-2-ribbon nav.nav-7 ul.ul-7-1 li#li-special-3 {
    display: grid;
    justify-self: end;
    padding-right: 15px;
    font-size: 12px;
}

section.container-2 main.main-2 .main-2-sub-2 .image-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(3, 0.33fr);
    grid-gap: 5px;
    padding-left: 15px;
}

section.container-2 main.main-2 .main-2-sub-2 .image-wrapper-2 .image-box-2 {
    display: grid;
    grid-template-rows: 1fr 40px;
}

section.container-2 main.main-2 .main-2-sub-2 .image-wrapper-2 .image-box-2 img {
    height: 160px;
    width: 220px;
    position: absolute;
}

section.container-2 main.main-2 .main-2-sub-2 .image-wrapper-2 .image-box-2 span {
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 900;
    display: grid;
    align-self: center;
    justify-self: center;
    z-index: 1;
    border: 1px solid #fff;
    padding: 6px 6px;
}

section.container-2 aside.aside-2 {
    display: grid;
    grid-template-rows: 1fr;
    /* align-content: start; */
    /* align-items: start; */
}

section.container-2 aside.aside-2 .aside-2-sub-1 {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    padding: 0 10px;
    /* align-content: start;
    align-items: start; */
    padding-bottom: 150px;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-ribbon {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    justify-items: start;
    background-color: #dde1ec;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-ribbon a {
    display: grid;
    place-self: end;
    font-size: 12px;
    font-weight: 900;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper {
    display: grid;
    grid-template-rows: repeat(5, 0.2fr);
    grid-gap: 20px;
    background-color: #f5f6f9;
    padding-top: 20px;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box {
    display: grid;
    grid-template: 
    "span-1-aside img-1-aside a-1-aside span-6-aside" 0.33fr
    "span-1-aside img-1-aside span-group-aside-1 span-6-aside"0.33fr
    "span-1-aside img-1-aside span-5-aside span-6-aside" 0.33fr /
    0.1fr 0.2fr 0.7fr;
    grid-gap: 3px;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box span.span-1-aside {
    grid-area: span-1-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box span.span-2-aside {
    grid-area: span-2-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box span.span-3-aside {
    grid-area: span-3-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box span.span-4-aside {
    grid-area: span-4-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box span.span-5-aside {
    grid-area: span-5-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box span.span-6-aside {
    grid-area: span-6-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box img {
    grid-area: img-1-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box a {
    grid-area: a-1-aside;
}

section.container-2 aside.aside-2 .aside-2-sub-1 .aside-2-box-wrapper .aside-2-box .span-group-aside-1 {
    grid-area: span-group-aside-1;
}



section.container-2 main.main-2 .main-2-sub-3 {
    display: grid;
    grid-template-rows: 0.05fr 0.95fr;
}

section.container-2 main.main-2 .main-2-sub-3 .main-2-ribbon nav.nav-8 {
    display: grid;
    grid-template-rows: 1fr;
}

section.container-2 main.main-2 .main-2-sub-3 .main-2-ribbon nav.nav-8 ul.ul-8-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    padding-left: 15px;
}

section.container-2 main.main-2 .main-2-sub-3 .main-2-ribbon nav.nav-8 ul.ul-8-1 li {
    font-size: 12px;
    font-weight: 700;
}

section.container-2 main.main-2 .main-2-sub-3 .main-2-ribbon nav.nav-8 ul.ul-8-1 li#li-special-5 {
    display: grid;
    justify-self: end;
    padding-right: 15px;
    font-size: 12px;
}

section.container-2 main.main-2 .main-2-sub-3 .articles-wrapper-1 {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-gap: 10px;
    padding-left: 15px;
    padding-top: 20px;
}

section.container-2 main.main-2 .main-2-sub-3 .articles-wrapper-1 .article {
    display: grid;
    grid-template: 
    "img-1-article a-1-article" 0.2fr
    "img-1-article p-1-article" 0.2fr
    "img-1-article span-group-1-article" 0.6fr /
    70px 0.9fr;
    grid-gap: 8px;
}

section.container-2 main.main-2 .main-2-sub-3 .articles-wrapper-1 .article img {
    grid-area: img-1-article;
}

section.container-2 main.main-2 .main-2-sub-3 .articles-wrapper-1 .article a {
    grid-area: a-1-article;
}

section.container-2 main.main-2 .main-2-sub-3 .articles-wrapper-1 .article p {
    grid-area: p-1-article;
    font-size: 11px;
    letter-spacing: normal;
    width: 112%;
    text-align: left;
}

section.container-2 main.main-2 .main-2-sub-3 .articles-wrapper-1 .article .span-group-1-main {
    grid-area: span-group-1-article;
}


/* HERE THE LAYOUT OF THE PAGE */
section.container-3 {
    height: 110vh;
    display: grid;
    place-items: center;
}

section.container-3 .menus-wrapper {
    height: 110vh;
    width: 80%;
    display: grid;
    grid-template: 
    "main-3-1 aside-3-1" 1fr /
    0.7fr 0.3fr;
    align-content: start;
}

section.container-3 .menus-wrapper main.main-3 {
    grid-area: main-3-1;
    outline: 0.5px solid #000;
    display: grid;
    grid-template-rows: 0.3fr auto 0.5fr;
    grid-gap: 20px;
    /* align-items: center; */
}

section.container-3 .menus-wrapper aside.aside-3 {
    grid-area: aside-3-1;
    outline: 0.5px solid #000;
    /* align-content: start;
    align-items: start; */
}


section.container-3 aside.aside-3 {
    display: grid;
    grid-template-rows: 1fr;
    /* align-content: start; */
    /* align-items: start; */
}

section.container-3 aside.aside-3 .aside-3-sub-1 {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    padding: 0 10px;
    /* align-content: start;
    align-items: start; */
    padding-bottom: 150px;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-ribbon {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    justify-items: start;
    background-color: #dde1ec;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-ribbon a {
    display: grid;
    place-self: end;
    font-size: 12px;
    font-weight: 900;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper {
    display: grid;
    grid-template-rows: repeat(5, 0.2fr);
    grid-gap: 20px;
    background-color: #f5f6f9;
    padding-top: 20px;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box {
    display: grid;
    grid-template: 
    "span-1-aside img-1-aside a-1-aside span-6-aside" 0.33fr
    "span-1-aside img-1-aside span-group-aside-1 span-6-aside"0.33fr
    "span-1-aside img-1-aside span-5-aside span-6-aside" 0.33fr /
    0.1fr 0.2fr 0.7fr;
    grid-gap: 3px;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box span.span-1-aside {
    grid-area: span-1-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box span.span-2-aside {
    grid-area: span-2-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box span.span-3-aside {
    grid-area: span-3-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box span.span-4-aside {
    grid-area: span-4-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box span.span-5-aside {
    grid-area: span-5-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box span.span-6-aside {
    grid-area: span-6-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box img {
    grid-area: img-1-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box a {
    grid-area: a-1-aside;
}

section.container-3 aside.aside-3 .aside-3-sub-1 .aside-3-box-wrapper .aside-3-box .span-group-aside-1 {
    grid-area: span-group-aside-1;
}





footer.container-5 {
    height: 40vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    /* place-items: center; */
    background-color: #2e51a2;
}

footer.container-4 {
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    /* place-items: center; */
    background-color: #e6e8ee;
}

footer.container-4 .footer-wrapper-1 {
    outline: 0.5px solid #000;
}

footer.container-5 .footer-wrapper-2 {
    outline: 0.5px solid #000;
}